<div class="container">
    <h1 class="text-center">Category Lists</h1><br/>
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <th>#</th>
            <th>Bills</th>
        </thead>
        <tbody>
            
        </tbody>
    </table>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <th>#</th>
            <th>Medical</th>
        </thead>
        <tbody>
            
        </tbody>
    </table>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <th>#</th>
            <th>Groceries</th>
        </thead>
        <tbody>
            
        </tbody>
    </table>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <th>#</th>
            <th>Entertainment</th>
        </thead>
        <tbody>
            
        </tbody>
    </table>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <th>#</th>
            <th>Restaurant</th>
        </thead>
        <tbody>
            
        </tbody>
    </table>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <th>#</th>
            <th>Misc</th>
        </thead>
        <tbody>
            
        </tbody>
    </table>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <th>#</th>
            <th>Savings</th>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>