<ul class="list-group">
  <a href="#" class="list-group-item btn btn-default btn-lg"><li class="text-center">Create Budget</li></a>
  <a href="#" class="list-group-item btn btn-default btn-lg"><li class="text-center">Budget List</li></a>
  <a href="#" class="list-group-item btn btn-default btn-lg"><li class="text-center">Categories</li></a>
  <a href="#" class="list-group-item btn btn-default btn-lg"><li class="text-center">Finances</li></a>
</ul>